[project]
	description = Repository for tests
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/diakovliev
[access "refs/for/refs/*"]
	read = group user/diakovliev
	push = group user/diakovliev
	label-Code-Review = -2..+2 group user/diakovliev
	label-Verified = -1..+1 group user/diakovliev
	rebase = group user/diakovliev
	removeReviewer = group user/diakovliev
	submit = group user/diakovliev
[access "refs/heads/*"]
	read = group user/diakovliev
	create = group user/diakovliev
	push = +force group user/diakovliev
	pushMerge = group user/diakovliev
[access "refs/tags/*"]
	push = +force group user/diakovliev
	pushTag = group user/diakovliev
	pushSignedTag = group user/diakovliev
