[project]
	description = Repository for tests
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/diakovliev
	owner = group user/yuriamw (yuriamw)
	forgeAuthor = group user/diakovliev
	forgeAuthor = group user/yuriamw (yuriamw)
	forgeCommitter = group user/diakovliev
	forgeCommitter = group user/yuriamw (yuriamw)
	push = group user/diakovliev
[access "refs/for/refs/*"]
	read = group user/diakovliev
	read = group user/yuriamw (yuriamw)
	push = group user/diakovliev
	push = group user/yuriamw (yuriamw)
	label-Code-Review = -2..+2 group user/diakovliev
	label-Code-Review = -2..+2 group user/yuriamw (yuriamw)
	label-Verified = -1..+1 group user/diakovliev
	label-Verified = -1..+1 group user/yuriamw (yuriamw)
	rebase = group user/diakovliev
	rebase = group user/yuriamw (yuriamw)
	removeReviewer = group user/diakovliev
	removeReviewer = group user/yuriamw (yuriamw)
	submit = group user/diakovliev
	submit = group user/yuriamw (yuriamw)
	forgeAuthor = group user/diakovliev
	forgeAuthor = group user/yuriamw (yuriamw)
[access "refs/heads/*"]
	read = group user/diakovliev
	read = group user/yuriamw (yuriamw)
	create = group user/diakovliev
	create = group user/yuriamw (yuriamw)
	forgeAuthor = group user/diakovliev
	forgeAuthor = group user/yuriamw (yuriamw)
[access "refs/tags/*"]
	push = group user/diakovliev
	push = group user/yuriamw (yuriamw)
	pushTag = group user/diakovliev
	pushTag = group user/yuriamw (yuriamw)
	pushSignedTag = group user/diakovliev
	pushSignedTag = group user/yuriamw (yuriamw)
[submit]
	action = cherry pick
